/* Change the default margins for the webpage */
* {
  margin: 0;
  padding: 0;
}

.container{
  /* This provides a scrollbar when the browser is shrunk and the content no longer fits on the screen */
  overflow: scroll;
}

/* This is the Header section */
.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  /* Creates a flex container for the header*/
  display: flex;
  /* Creates a margin on top of the header */
  margin-top: 10px;
  /* This creates a space between the header and the solid black line separating the header from the main content */
  padding-bottom: 10px;
  /* Creates a border below the header */
  border-bottom: 1px solid black;
}

.header img{
/* This creates a 15px gap between the logo and the tagline */
  padding-right: 15px;
}

.header li{
/* This removes the bullet point from the list items */
  list-style: none;
/* This puts each list item next to each other on the same line (makes the span an inline block)*/
  display : inline-flex;
/* This creates an underline under each list item because these are not hrefs, they are spans */
  text-decoration: underline;
  /* This creates a 15px gap between each list item */
  padding-right: 15px;
}

.headingleft {
/* This puts the tagline next to the logo (makes the paragraph an inline block) */
  display:inline-flex;
/* This leaves a 30px gap before the logo*/
  padding-left: 30px;
/* These two lines centres the tagline so that it appears in the middle of the logo */
  justify-content: flex-start;
  align-items: center;
/* This creates a space between the border and the first list item */
  margin-right: 10px;
/* This is done to set a specific width for the logo and tagline so that the menu items can appear at a specific place */
  width: 52%;
}

.logo p{
/* This makes the tagline the same colour as the logo's "my" portion */
  color: MediumAquamarine;
}

.headingright {
/* These two lines centres the list items with the tagline (in the middle)*/
  display:inline-flex;
  align-items: center;
/* This sets the specific width of the menu items so that when the browser shrinks, these items don't wrap */
  min-width: 250px;
}

.spacer{
/* This stops the column widths from changing when the browser shrinks
  position: absolute;*/
  z-index: 5;
/* This creates a margin to the left of the first column */
  margin-left: 20px;
}

.main{
  /* This creates a gap between the border separating the header from the main content */
  margin-top: 50px;
  /* Creates a flex container for the main content */
  display: flex;
}

.column {
  /* These two lines are not making any difference. Not sure why?????  */
  display:inline-flex;
  flex-direction: column;
}

.large {
  /* Create the width of the flex container*/
  width: 630px;
  /* Set a gap between each of the columns */
  margin-right: 50px;
}

.medium {
  /* Create the width of the flex container*/
  width: 300px;
  /* Set a gap between each of the columns */
  margin-right: 50px;
}

.small {
  /* Create the width of the flex container*/
  width: 240px;
  /* Set a gap between each of the columns */
  margin-right: 50px;
}

.mainimg {
  display:flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  height: 300px;
  width: 629px;
  align-items: center;
}

p.images {
  /* Create temporary borders to make life easier*/
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;

}

#main{
  font-size: 40px;

}

p.spacing {
  /* Create spacing at the top and bottom of the paragraph */
  padding: 20px 0px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  display:inline-flex;
  margin-bottom: 30px;
}

.secondarticles{
  width: 630px;
  display:flex;
  justify-content: space-between;
}

.flexible-container{
  width: 300px;
}

.flexible-container h2{
  width: 300px;
  padding-top: 20px;
  text-align:left;
}

.smallerarticle-1 {
  display:inline-flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.smallerarticle-2 {
  display:flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  width: 299px;
}

.smallerarticle-3 {
  display:flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  width: 299px;
}

.image-text{
  align-items: center;
  height: 300px;
}

.newsbites h2{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.newsbitescolumns{
  display: flex;
  flex-direction: column;
}

.newsbitesitems{
  margin: 0;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-size: 12px;
  color: DimGray;
  padding: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 250px;
  margin-top: 50px;
}

.columnfooter{
  display : inline-flex;
}

.footerright li{
/* This removes the bullet point from the list items */
  list-style: none;
/* This puts each list item next to each other on the same line (makes the span an inline block)*/
  display : inline-flex;
/* This creates an underline under each list item because these are not hrefs, they are spans */
  text-decoration: underline;
  /* This creates a 15px gap between each list item */
  padding-right: 15px;
}

.mytimes {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: inline-flex;
}

.mytimeswords {
  margin-right: 20px;
}

.mytimespipe {
  margin-right: 40px;
}

.copyright{
  display: inline-flex;
  margin-top: 15px;
}
